

/* general styles */

body 
{
	color: #4D4D4D;
	font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 1.8em;
	text-align: center;
	background:url(imgs/background.JPG) repeat-x fixed center center;
}

a 
{
	color: #005880;
}

a:hover 
{
	color: #006B95;
}

a:visited 
{
	color: #006B95;
}

a:visited:hover {
color: #2C91B2;
}

h1{
font-family: "Arial Narrow",Tahoma, Geneva, Arial, Helvetica, sans-serif;
font-size: 1.6em;
color: #006B95;
margin: 15px 0 15px 0;
padding-left: 15px; 
}

h2 {
font-family: "Arial Narrow",Tahoma, Geneva, Arial, Helvetica, sans-serif;
font-size: 1.3em;
color: #007AAC;
margin: 15px;
}

h3 {
font-family: "Arial Narrow",Tahoma, Geneva, Arial, Helvetica, sans-serif;
font-size: 1.1em;
color: #56A7C1;
margin: 15px;
}

p {
margin: 10px 15px 5px 15px;
}

/* layout styles */

#container {
width: 766px;
text-align: left;
margin: 10px auto 0 auto;
background: url(imgs/back_container.gif) #FFFFFF repeat-y;
padding: 0 !important;
line-height: 1.8em;
}

#container1 {
width: 766px;
text-align: left;
margin: 0 100px 0 100px;
background: url(imgs/back_container.gif) #FFFFFF repeat-y;
padding: 0 !important;
line-height: 1.8em;
}

#banner {
height: 100px;
background:url(imgs/back_banner.jpg) #006B95 no-repeat;
}

#banner h1 {
float: left;
color: #FFFFFF;
margin: 40px 0 0 20px;
background: none;
}


#mask {
    position:absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    background-color:red; 
    z-index:99;
}

#content {
float: left;
width: 470px; 
margin: 10px 10px 0 10px;
background-image: url(imgs/back_content.jpg);
background-repeat:repeat;
padding: 0;
font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
}
#content1 {
float: left;
width: 730px; 
margin: 10px 10px 0 10px;
background-image: url(imgs/back_content1.jpg);
background-repeat:repeat;
padding: 0;
font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
}


#fullcontent {
float: left;
width: 600px; 
margin: 10px 10px 0 10px;
background-image: url(imgs/back_content.jpg);
background-repeat:repeat;
padding: 0;
font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
}



* html #content {
margin-left: 5px;
}

#sidebar {
float: left;
width: 254px;
margin: 10px 0 0 0;
padding: 0;
background-image: url(imgs/back_sidebar.jpg);
background-repeat: no-repeat;
color: #787878;
}

/* meta nav */

#nav-meta {
float: right;
margin: 11px 25px 0 0;
background: url(imgs/back_navmeta2.gif) no-repeat bottom right;
}

#nav-meta ul {
margin: 0;
padding: 2px;
background: url(imgs/back_navmeta1.gif) no-repeat bottom left;
}

#nav-meta li {
display: inline;
padding: 4px;
}

#nav-meta a, #nav-meta a:visited {
color: #FFFFFF;
text-decoration: none;
margin: 4px;
}

#nav-meta a:hover, #nav-meta a:visited:hover {
color: #D1EBF4;
}

.skip {
position: absolute;
overflow: hidden;
width: 0;
height: 0;
}

.skip:active, .skip:focus {
position: absolute;
overflow: visible;
width: auto;
height: auto;
background: #2C91B2;
}

/* main nav */

#nav-main {
margin: 10px 16px 10px 11px;
min-height: 30px;
background: url(imgs/back_navmain.gif) #007AAC no-repeat;
}

#nav-main ul {
height: 100%;
margin: 0;
padding: 0 0 0 10px;
}

#nav-main li {
list-style-type: none;
float: left;
width: auto;
margin: 7px 5px 0 5px;
background: url(imgs/back_navmainitems2.gif) no-repeat top right;
}

#nav-main a:link, #nav-main a:visited {
display: block;
color: #D1EBF4;
font-weight: bold;
text-decoration: none;
padding: 1px 10px 2px 12px;
background: url(imgs/back_navmainitems.gif) no-repeat top left;
}

#nav-main a:hover, #nav-main a:visited:hover {
color: #FFFFFF;
font-weight: bold;
text-decoration: none;
padding: 2px 10px 1px 12px;
}

.current {
margin-top: 4px;
background-image: url(imgs/back_current2.gif)!important;
}

.current a:link, .current a:visited {
color: #006B95 !important;
background-image: url(imgs/back_current1.gif) !important;
}

.current a:hover, .current a:visited:hover {
color: #2C91B2 !important;
}

/* sub nav */

#nav-section {
clear: both;
}

#nav-section ul {
margin: 0;
padding: 0 10px 0 10px;
}

#nav-section li {
list-style-type: none;
float: left;
margin: 0px 4px 0 4px;
background-image: url(imgs/bullet_off.gif);
background-repeat: no-repeat;
background-position: bottom left;
padding-left: 12px;
}

#nav-section a:link, #nav-section a:visited {
text-decoration: none;
}

.youarehere a:link, .youarehere a:visited {
font-weight: bold;
}


.greysize
{
height:20px;
width:160px;
background-color:#CCCCCC;
}

.fieldsize
{
height:20px;
width:160px;
}
.ignousize
{
height:20px;
width:200px;
}


.adminsize
{
height:20px;
width:140px;
background-color:#99FFFF;
}

.desize
{height:20px;
width:140px;
background-color:#00FF00;
}

.compfieldsize{
height:20px;
width:115px;
background-color:#00FF00;
}

.quantityfieldsize{
height:20px;
width:60px;
background-color:#0099FF;
}

.quantityzoomsize{
height:20px;
width:60px;
text-decoration:blink;
background-color:#CCFFFF;
border-color:#0000FF;
}

.noblink
{
text-decoration:none;
}
.yesblink
{
text-decoration:blink;
}


.zoomsize{
height:20px;
width:160px;
text-decoration:blink;
background-color:#CCFFFF;
border-color:#0000FF;
}

.compzoomsize{
height:20px;
width:115px;
text-decoration:blink;
background-color:#FF9900;
border-color:#0000FF;
}


.youarehere{
background-image: url(imgs/bullet_on.gif)!important;
}

/*supplemental nav */

#nav-supp ul {
list-style: none;
margin: 0;
padding: 0;
}

#nav-supp {
margin: 15px;
}

#nav-supp li {
background-image: url(imgs/bullet_link.gif);
background-repeat: no-repeat;
background-position: center left;
padding: 0 0 0 15px;
margin: 2px 0 2px 10px;
}

/* footer */
#info-site {
clear: both;
text-align: center;
background-image: url(imgs/back_infosite.gif);
background-repeat: no-repeat;
background-position: center bottom;
margin: 0;
padding: 30px 0 15px 0;
}

	
#info-company {
padding: 5px;
background: url(imgs/back_navmain.gif) #007AAC no-repeat;
margin: 10px 16px 10px 10px!important;
color: #FFFFFF;
}

#info-company a,#info-company a:visited {
color: #D1EBF4;
}

.table {
    border-width: 0px;
}
.bright	{
border-left:none
}

#info-company a:hover,#info-company a:visited:hover {
color: #FFFFFF;
}

#info-standards{
font-size: 10px;
padding: 0;
margin: 5px !important;
}
.button{	
	margin: 12px 6px 0px 6px;
	padding: 6px 12px 6px 12px;
	text-decoration: none;
	display: inline-block;
  border: 1px solid #8C8C8C;
  border: 1px solid #cdb38b;
  border-radius:          6px;  
  -moz-border-radius:     6px;  
  -webkit-border-radius:  6px;  
  -khtml-border-radius:   6px;  
  background: #EEEEEE;
}
